@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;    
}

.home-banner{
    background-image: url('../src/assets/images/home_banner.jpg');
    height: 30rem;
    width: 100%;
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.btn-black{
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 75%);
    transition: box-shadow .2s linear;
}
.btn-black:hover{
    box-shadow: none;
}
@media (max-width:640px) {
    .home-banner{
        height: 17rem;
        background-position: bottom;
    }
}